@model IEnumerable<MVCCRUD2.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Usuario</a>
</p>

<h1>Usuarios</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Apellido</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.Email</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@usuario.IdPersona">Editar</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@usuario.IdPersona">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@usuario.IdPersona">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>